server:
  port: 10002
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ttshop?characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: 666888

myname: fu10002-zhangsan222-zhongguo
